<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../global/global.css">
    <script src="../global/global.js"></script>
    <title>Valgresultatet</title>
</head>

<h1>Socialdemokraterne vandt i samsø kommune!</h1>

<body>
    <a href="../kandidater/kandidater.html">
        <button>Gå tilbage</button>
    </a>
    <table class="kandidat" id="partier-tbody">
        <thead>
        <tr>
            <th>Navn</th>
            <th>Bogstav</th>
            <th>Stemmer</th>
        </tr>
        </thead>
    </table>

<script src="partier.js"></script>
</body>
</html>